.container .form-control{
    text-align: center;
}

.panel-heading{
    color: #9688A0;
    background-color: #221D25 ;
    text-align: center;
    font-size: larger;

}

.panel-body{
    color: #706F74;
    background-color: #37363B;
    padding: 10px 25px;
    font-size: small;
}

div{
    font-family: "Helvetica Neue";
}

.items{
    text-align: center;
}
.items .menu-item{
    display:inline-block;
    float:none;
    max-width: 230px;
    padding-bottom: 25px;
}

.product{
    padding-right: 0px;
    padding-left: 0px;
    text-align: left;
}

.measurement{
    padding-left: 0px;
}

button{
    background-color: transparent;
    border-color: transparent;
}

button:focus {
    outline:0;
}


.glyphicon-plus{
    color: green;
    /*padding: 0px 30px;*/
    font-size: xx-large;
}

.glyphicon-minus{
    color: red;
    font-size: xx-large;
    padding-left: 0px;
}

.plus-minus{
    padding: 20px 0px;
}

.quantity-box{
    padding: 3px 7px;
}

.form-control{
    text-align: center;
    padding: 0px;
    height:40px;
    max-width: 47.6px;
    /*width:40px;*/
}

.ings{
    height: 90px;
}